languageName = "English"
weight = 1

[taxonomies]
category = "categories"
tag = "tags"

[[menu.main]]
identifier = "search"
name = "Search"
url = "/search/"
weight = 10

[[menu.main]]
identifier = "tags"
name = "Tags"
url = "/tags/"
weight = 20
