<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
<style>
body {
    font-family: 'Vollkorn', Georgia, serif;
    font-weight: 450;
}
.home-header {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    margin-bottom: 2rem;
}
.home-header img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
</style>
<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "qmw4sqzqig");
</script>
