<style>
.home-header {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    margin-bottom: 2rem;
}
.home-header img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
</style>
<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "qmw4sqzqig");
</script>
